@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --theme-red: hsl(359deg 74% 55%);
  --theme-white: hsl(0 60% 95%);
}

html,body {
  background: #f9f8f7;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif !important;
}

li {
  list-style: none;
}

body {
  font-size: 15px;
  font-weight: 600;
}

/* courses style*/

.white-to-red-button {
  font-family: poppins,Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  padding: 0.7rem;

  border-radius: 6px;
  border: 2px solid var(--theme-red);
  
  color: var(--theme-red);

  transition: all 0.3s;
}

.white-to-red-button:hover {
  color: white;

  background-color: var(--theme-red);
}

.splide__arrows {
  color: red !important;
}

.splide__arrow--prev {
  left: 2rem !important;
  display: none !important;
}

.splide__arrow--next {
  right: 0 !important;

  height: 100% !important;
  width: 80px !important;
  
  background: linear-gradient(to left, hsl(359deg 74% 15% / 60%), transparent) !important;
  border-radius: unset !important;
  
  transition: all 0.3s;
}

.splide {
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 992px) {
  .splide {
    padding-left: 0 !important;
  }
}

.splide__arrow svg {
  fill: red !important;
  height: 1.5rem !important;
}

.splide__pagination {
  margin-bottom: -4rem !important;
}

.splide__pagination__page {
  border-radius: 50% !important;
  height: 10px !important;
  width: 10px !important;
}

.splide__pagination__page.is-active {
  transform: none !important;

  background-color: var(--theme-red) !important;
}

.splide__list > :not(:first-child) {
  margin-left: 1.2rem !important;
}